.header {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-left: 8px;
}

.container {
  border: 1px solid lightblue;
  margin: 8px 8px;
}

input {
  margin: 12px 8px;
}

label {
  margin-left: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main {
  background-color: beige;
}

nav {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #4169E1
}

nav > .link {
    padding: 0 8px;
    text-decoration: none;
    color: lightblue;
}

nav > .link:hover {
  color: white;
}
